<table align="center" style="padding:50px 0;
    margin-top: 20px;
    width: 100%;
    color:#f0f9ff;
    background-color:#282d32;
    text-decoration: none; ">
    <tbody>
        <tr>
            <td>
                    <h3 style="margin-top:0;
                    text-align:center;
                    margin-top:20px;
                    margin-bottom:12px;
                    font-weight:bold;
                    font-size:16px;">
                    Support</h3>
                        <p style="
                        text-decoration: none; 
                        opacity: 0.6; 
                        text-align:center;
                        margin-bottom: 0px;
                        color: white">
                        E-Mail: {{email}}
                        </p>
                        <p style="
                        text-decoration: none; 
                        opacity: 0.6; 
                        text-align:center;
                        margin-top: 2px;
                        color: white">
                        Tel:    {{telefon}}
                        </p>
                    <h3 style="margin-top:0;
                    text-align:center;
                    margin-bottom:12px;
                    margin-top:20px;
                    font-weight:bold;
                    font-size:16px;">
                    About</h3>
                        <p style="
                        opacity: 0.6; 
                        text-align:center;
                        color: white">
                        <a href="https://www.er-sie-es.com/" style="text-decoration: none; 
                            opacity: 0.6; 
                            color: white">
                            Homepage
                            </a>
                        </p>     
                    <h3 style="margin-top:0;
                    text-align:center;
                    margin-bottom:12px;
                    margin-top:20px;
                    font-weight:bold;
                    font-size:16px;">
                    ER sie & es</h3>
                    <p style="margin-bottom:0;
                    text-align:center;
                    opacity: 0.6;">
                    Schwimmschule im Großraum Frechen.</p>
            <p class="copyright" style="text-align:center;
            padding-top:24px;
            opacity:0.3;
            font-size:13px;
            margin-bottom:0;">
            ER sie & es © 2023</p>
            </td>
        </tr>
    </tbody>
</table>  