<div style="background-color: #FFFFFF; padding: 0; margin: 2%;">
    <hr class="mb-2 mt-2">
    <div  style="text-align: center">
        <img src="cid:logo" height="100" width="auto">
    </div>
    <div style="font-size: 18px; font-weight: normal;">
        <hr class="mb-2 mt-2">
        KURSANFRAGE
        <hr class="mb-2 mt-2">
    </div>
    <div style="font-size: 12px; line-height: 1.5; color: #333333;">
        Vielen Dank für Ihr Interesse an unserem Kursangebot. Wir haben Ihre Anfrage erhalten, und kümmern uns schnellstmöglich um Ihr Anliegen. 
        Sie erhalten innerhalb von 14 Tagen eine Rückmeldung, falls ein Kursplatz verfügbar ist. Sollten Sie innerhalb von 14 Tagen keine Rückmeldung erhalten, 
        werden Sie automatisch und unverbindlich auf die Warteliste aufgenommen.
        <br/>
        Derzeit können wir keine Prognose geben, ob und wann wieder Kursplätze verfügbar sein werden (sollte sich ein freier Platz ergeben, kommen wir auf Sie zu).
        <br/><br/>      
        Dies ist eine automatisch generierte E-mail, welche Ihnen im Zuge Ihrer Anrage gesendet wurde. Bitte antworten Sie nocht auf diese.
        <br/>  
        Falls Sie Hilfe benötigen oder sonstige Fragen haben, kontaktieren Sie uns gerne über {{email}}.        
        <br/><br/>
        Mit freundlichen Grüßen <br/>          
        Kundenservice <br/>     
        ER sie & es <br/>
        Elke Renner
        </br>
        </br>
    </div> 
</div>