<div style="background-color: #FFFFFF; padding: 0; margin: 2%;">
    <hr class="mb-2 mt-2">
    <div  style="text-align: center">
        <img src="cid:logo" height="100" width="auto">
    </div>
    <div style="font-size: 18px; font-weight: normal;">
        <hr class="mb-2 mt-2">
        Nachricht
        <hr class="mb-2 mt-2">
    </div>
    <div style="font-size: 12px; line-height: 1.5; color: #333333;">        
        Liebe Kursteilnehmer,    
        <br/><br/>
        {{inhalt}}
        <br/><br/>
        Dies ist eine automatisch generierte E-mail, bitte antworten sie nicht auf diese.</br>                
        Falls Sie Hilfe benötigen oder sonstige Fragen haben, kontaktieren Sie uns gerne per E-mail unter {{email}} oder per Telefon unter {{telefon}}.          
        <br/><br/>
        Mit freundlichen Grüßen <br/>          
        Kundenservice <br/>     
        ER sie & es<br/>
        Elke Renner
        </br>
        </br>
    </div> 
</div>