<div style="background-color: #FFFFFF; padding: 0; margin: 2%;">
    <hr class="mb-2 mt-2">
    <div  style="text-align: center">
        <img src="cid:logo" height="100" width="auto">
    </div>
    <div style="font-size: 18px; font-weight: normal;">
        <hr class="mb-2 mt-2">
        PASSWORT NEU SETZEN
        <hr class="mb-2 mt-2">
    </div>
    <div style="font-size: 12px; line-height: 1.5; color: #333333;">        
        Dies ist eine automatisch generierte E-mail, welche Ihnen im Zuge Ihrer Anrage gesendet wurde, um Ihr Passwort neu zu setzen.
        Der angegebene Link hat eine Gültigkeit von 60 Minuten.
        <br/><br/>        
        Zum Setzen verwenden Sie bitte folgenden Link: 
        <br/><br/>  
        <div  style="text-align: center">        
            <table align="center">
                <tbody>
                    <tr>
                        <td style="background-color: rgb(1,65,130); padding: 5px 10px; border-radius: 500px;">
                            <a href="{{url}}" style="color: white;
                                font-weight: bold;
                                text-decoration: none;
                                background-color: rgb(1,65,130);
                                border-color: rgb(1,65,130);
                                display: inline-block;
                                font-weight: 400;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: middle;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                border: 1px solid transparent; 
                                font-size: 1rem;
                                line-height: 1.5;
                                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;"
                            >
                                Setze Passwort
                            </a> 
                        </td>
                    </tr>
                </tbody>
            </table>   
        </div>     
        <br/><br/>        
        Wir empfehlen Ihnen, Ihr Passwort sicher aufzubewahren und niemandem mitzuteilen. Falls Sie denken, dass Ihr Passwort nicht mehr sicher ist, können Sie dieses jederzeit in ihren Accounteinstellungen ändern.        
        <br/><br/>        
        Falls Sie Hilfe benötigen oder sonstige Fragen haben, kontaktieren Sie uns gerne per E-mail unter {{email}} oder per Telefon unter {{telefon}}.        
        <br/><br/>
        Mit freundlichen Grüßen <br/>          
        Kundenservice <br/>     
        ER sie & es<br/>
        Elke Renner
        </br>
        </br>
    </div> 
</div>

  